@tailwind base;
@tailwind components;
@tailwind utilities;

/* Thin scrollbar for Week View */


.scrollbar-thin::-webkit-scrollbar {
  width: 6px; 
  height: 6px; 
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.7); 
  border-radius: 9999px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: rgba(107, 114, 128, 0.8); 
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.hide-scrollbar {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; 
}

::-webkit-scrollbar {
  width: 4px;        
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 20px;
}


::-webkit-scrollbar-thumb:hover {
  background: #9e9e9e;
} 

